<div class="image">

<div *ngIf="sharingservice.getData('uid') !== null"> 
  <br><br>
    <label class="title">Appointment Form</label>
    <br><br>

    <label for="name">Please Enter your name:</label>
        <input  placeholder="name" id="patientName" [(ngModel)]="userForm.patientName"/>
        <br> <br>

<label for="doctorList"><b>Please Select a Doctor:</b></label>
 <select  class="doclist" [(ngModel)]= "userForm.doctorName"(change)="onSelectDoctor($event)" >
      <!-- <option value=""></option> -->
     <option value="Mohamed">Mohamed</option>
     <option value="Ahmed">Ahmed</option>
     <option value="Ali">Ali</option>
     <option value="Ismail">Ismail</option>
     <option value="Mahmoud">Mahmoud</option>
   </select>
   <br><br> 
   <label for="TimingList"><b>Please Select Desired time:</b></label>
 <select class="timelist" [(ngModel)]= "userForm.timeDesired"(change)="onSelectTime($event)" >
      <!-- <option value=""></option> -->
     <option value="10am">10am</option>
     <option value="11am">11am</option>
     <option value="12pm">12pm</option>
     <option value="1pm">1pm</option>
     <option value="2pm">2pm</option>
   </select>
   <br><br>
   <label for="TimingList"><b> Please select date:</b></label>
<input type="date" min="{{today}}" id="AppointmentDate" [(ngModel)]="userForm.date">



    <br><br>
   <button class="btn btn-primary" type="submit" (click)="onSubmitData()">Submit</button>
   <br><br><br>
   <span class="msg-group">{{msg}}</span>
   <!-- <span class="msg-group">{{Acceptedmsg}}</span> -->

   </div>
   </div>