ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ECF3F3;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:green;
}

  .image{
    height: 60em;
    background-size: cover;
    width: auto;
   background-image: url('/assets/clinicbg1.jpg'); 
    background-position: 100%;
  }
  
.image1{
  height: 60em;
  width: auto;
 background-image: url('/assets/capture.topnav-left'); 
  background-position: 50%;
}
.title1{
  font-style: italic;
color: indianred}
.logo{
  height: 5em;
  width: 10em;
}