<div class="image">

    <div *ngIf="sharingservice.getData('uid') !== null"> 
        <h1>Welcome to the Doctor's list of Appointments</h1>
        <br><br><br>
   <label class="subtitle">Please select your name to view your list of Appointments</label>
        <br><br>
    <label for="doctorList"><b>Doctor's List: </b></label>
     <select [(ngModel)]= "userForm.doctorName"(change)="onSelectDoctor($event)" >
          <option value=""></option>
         <option value="Mohamed">Mohamed</option>
         <option value="Ahmed">Ahmed</option>
         <option value="Ali">Ali</option>
         <option value="Ismail">Ismail</option>
         <option value="Mahmoud">Mahmoud</option>
       </select> <br>
       <br>
       <button class="btn btn-primary" type="submit" (click)="onSubmitData()">show Appointments</button>
       <br><br>

<ul *ngFor ="let msg of fArray" >
  
      <li class="patient">patient Name: {{msg.patientName}} </li> 
        <li class="time">    Time: {{msg.timeDesired}} </li>
        <li class="time">    Date: {{msg.date}} </li>

   
</ul>
     
        <h2>{{msg}}</h2>  
       </div>
       </div>
