body{
    font-family: Helvetica;
    margin: 0;
  }
  
  title{
    margin: 0;
    font-style: italic
  }
  
  
  
  .content{
    padding: 20px;
    
  }
 
  
.btn-primary{
  margin-left: 20px;
}
  .content input{
    width: 40%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px 0;

  }
  .h1{
    color:black;
    position: center;

  }
  .subtitle{
    color:red;
    

  }

  .msg-group{
    color:green;
  }
  .image{


  
    height: 60em;
    background-size: cover;
    width: auto;
     background-image: url('/assets/images/clinic7.jpeg'); 
    background-position: 100%;
    

    
}
.msg{
    color:green;
  }
 .doctorList {
  margin-left: 20px;
   
   
   }
   .patient{
    text-align: left;
    /* line-height: 100px; */
    font-style: italic;
    color:black
   }
   .time{
    text-align: left;
    /* line-height: 100px; */
    font-style: italic;
    color:green
   }
   label{
    text-align: center;
   }