ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ECF3F3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:green;
  }
  
  
  
  
 
    .image{
      height: 60em;
      background-size: cover;
      width: auto;
     background-image: url('/assets/images/clinic7.jpeg'); 
      background-position: 100%;
    }

    p.excerpt{  
      font-family:proxima-nova, sans-serif !important;
      font-style: normal;
      font-size: 15px;
      font-weight:400;
      /* letter-spacing: 3px; */
      color: #231f20;
      /* text-transform: uppercase; */
      line-height: 1.5em;   
      }
      h1{
        color: green;
        font-style: italic;

  /* font-family: italic; */
  text-decoration: none;
      }