<div class="image">
  
 <!-- <div class="image">  -->

<h1>Welcome to BeHealthy Clinic</h1>
<p class="excerpt">Be Healthy Clinic helps both administrative staff and patients and other booking individuals</p>
<p class="excerpt"> in saving time,where patients are able to see when a doctor is available and schedule an </p>
 <p  class="excerpt"> appointment using our website</p>
<!-- <li style="float:right" routerLinkActive="active"><a routerLink="" style= "cursor: pointer;" *ngIf="sharingservice.getData('uid') !== null">Add Appointment</a></li> -->
<button class="btn btn-primary" type="submit"  routerLink="/user-page"  *ngIf="sharingservice.getData('uid') !== null">Add Appointment</button>

    
   
   <!-- </div>  -->

</div>
